
body {
  font-family: "open-sans";
}

H4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.card:hover {
  box-shadow: -2px -1px 25px -4px rgb(245, 241, 241);
  -webkit-box-shadow: -2px -1px 25px -4px rgb(255, 249, 249);
  -moz-box-shadow: -2px -1px 25px -4px rgb(247, 235, 235);
  transition: 0.5s;
}

.btn1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: black;
  color: rgb(13, 0, 0);
  font-weight: 700;
  border-radius: 60px;
}

.lng {
  background-color: #282a35;
}

.card {
  margin-left: 15px;
}

.btn {
  margin-left: 50px;
}

.b:hover {
  background-color: burlywood;
}

.linee {
  display: inline-block;
}
